#page-landing {
  width: 200vw;
  height: 200vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.logo-container img {
  margin-top: 150px;
  height: fit-content;
  width: fit-content;
}

.logo-container {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
}
Partners {
  margin-left: 0px;
  width: fit-content;
}
Partners img {
  width: 15rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 25rem;
  height: 8.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container-two {
  display: flex;
  justify-content: center;
  margin: 0.01rem 0;
}

.buttons-container-two a {
  width: 25rem;
  height: 8.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: var(--color-button-text);

  transition: background-color 0.2s;
}

.buttons-container a:first-child,
.buttons-container-two a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a img {
  width: 4rem;
}

.buttons-container a.study,
.buttons-container-two a.study {
  background: var(--color-primary-lighter);
}

.buttons-container a.give-classes,
.buttons-container-two a.give-classes {
  background: var(--color-secundary);
}

.buttons-container a.study:hover,
.buttons-container-two a.study:hover {
  background: var(--color-primary-light);
}

.buttons-container a.give-classes:hover,
.buttons-container-two a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.buttons-container a img,
.buttons-container-two a img {
  margin-right: 2.4rem;
}

.total-connections,
.icons {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.icons img {
  height: 20px;
}

@media (min-width: 3100px) {
  #page-landing-content {
    max-width: 1100px;

    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'logo logo hero'
      'buttons buttons total'
      'buttons2 buttons2 total'
      'icons icons total'
      'footer footer total'
      'partner partner total';
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: center;
    margin: 0;
  }

  .logo-container h2 {
    text-align: initial;
    font-size: 3.2rem;
  }

  .logo-container img {
    width: 800px;
    height: 100%;
  }

  .hero-image {
    grid-area: hero;
    justify-self: end;
    align-content: center;
  }

  .buttons-container {
    grid-area: buttons;
    justify-content: center;
  }

  .buttons-container-two {
    grid-area: buttons2;
    justify-content: center;
  }
  Partners {
    grid-area: partner;
    justify-content: center;
  }
  Footer {
    grid-area: footer;
    justify-content: center;
  }
  .buttons-container-two {
    margin-top: 0rem;
  }
  .buttons-container a,
  .buttons-container-two a {
    font-size: 2.4rem;
  }

  .total-connections {
    grid-area: total;
    justify-self: end;
  }
  .icons {
    grid-area: icons;
    align-items: center;
    justify-self: end;
  }
  .icons img {
    margin-left: 2.4rem;
    height: 50px;
  }
}
